@use "../utils" as *;
@use "../global" as *;

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255 255 255);
  overflow: hidden;
}
.userActionsContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 47px 0 0;
  width: 34.64%;
  
}

.authActions {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 27.82%;
}
.loginLink{
  cursor: pointer;
}
.registerLink {
  min-width: 0;
  font: 400 24px/1 "Comic Neue", Helvetica, Arial, serif;
  color: rgb(0 0 0);
  text-decoration:underline;
  text-decoration-color:deeppink;
  cursor: pointer;
}

.footerSection {
  display: flex;
  flex-direction: column;
  gap: 18px 0;
  margin: 186px 0 0;
  width: 100%;
}

.footerContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px 0;
}

.footerDivider {
  width: 100%;
  height: 1px;
}

.footerColumns {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 81.98%;
}

.helpColumn {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 12px 0;
  width: 100px;
  min-width: 0;
}

.columnTitle {
  font: 400 20px/1.2 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
}

.helpLinks {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  margin: 0 15px 0 0;
}

.helpLink {
  margin: 0 35px 0 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
  cursor: pointer;
}

.helpLink1 {
  margin: 0 19px 0 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
  cursor: pointer;
}

.helpLink2 {
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
  cursor: pointer;
}

.brandsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 12px;
  width: 194px;
  min-width: 0;
}

.brandLogos {
  display: grid;
  align-content: start;
  gap: 23px 74px;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.brandLogo {
  grid-row: span 1;
  grid-column: span 1;
  width: 60px;
}

.supportColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px 0;
  margin: 1px 0 20px;
  width: 291px;
  min-width: 0;
}

.supportContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px 0;
  width: 100%;
}

.supportDescription {
  width: 100%;
  min-height: 39px;
  background-color: rgb(255 255 255);
  border-radius: 7px;
  outline: 1px solid rgb(102 102 102);
  outline-offset: -1px;
}

.contactBtn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 106px;
  max-width: 100%;
  font: 400 16px/1.18 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
  background-color: rgb(0 0 0);
  border-radius: 2px;
  padding: 4.5px 14px;
  outline: 1px solid rgb(102 102 102);
  outline-offset: -1px;
}

.orderProcessingInfo {
  display: flex;
  flex-direction: column;
  background-color: rgb(53 53 53);
}

.orderProcessingText {
  display: flex;
  justify-content: center;
  margin: 26px auto 25px;
  font: 400 16px/1.43 "Kaisei HarunoUmi", Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}
