@use "../utils" as *;
@use "../global" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 123px 0;
  background-color: rgb(255 255 255);
  overflow: hidden;
}

.flex_col {
  display: flex;
  flex-direction: column;
  gap: 117px 0;
}

.flex_col1 {
  display: flex;
  flex-direction: column;
}

.content_box1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}

.flex_row {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 0 auto;
  width: 83.67%;
}
.heroImage1 {
  width: 300px;
  height: 200px;
  max-width: 300px;
  max-height: 200px;
}
.hero_title {
  display: flex;
  justify-content: center;
  min-width: 0;
  font: 400 60px/1.14 "Island Moments", Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.subtitle {
  z-index: 1;
  margin: 26px 0 19px;
  min-width: 0;
  font: 400 20px/1.2 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  letter-spacing: -0.8px;
}

.subtitle1 {
  z-index: 1;
  margin: 22px 0 23px;
  min-width: 0;
  font: 400 20px/1.2 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  letter-spacing: -1px;
}

.flex_row1 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 18px 0 24px;
  width: 151px;
  min-width: 0;
}

.image2 {
  z-index: 1;
  margin: 2px 0 0;
  width: 25px;
  min-width: 0;
}

.image21 {
  margin: 0 0 2px;
  width: 25px;
  min-width: 0;
}

.image22 {
  margin: 1px 0;
  width: 25px;
  min-width: 0;
}

.content_box2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(255 255 255);
  outline: 1px solid rgb(53 53 53);
  outline-offset: -1px;
}

.flex_row2 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 13px auto 10px;
  width: 82.73%;
}

.text {
  z-index: 1;
  display: flex;
  justify-content: center;
  margin: 1px 0 0;
  min-width: 0;
  font: 400 14px/1.42 "Kaisei HarunoUmi", Helvetica, Arial, serif;
  color: rgb(0 0 0);
  text-align: center;
}

.content_box {
  display: flex;
  flex-direction: column;
  margin: 0 0 1px;
  width: 122px;
  min-width: 0;
  background-color: rgb(217 217 217);
  border-radius: 10px;
}

.image {
  margin: 2px 0 2px 8px;
  width: 16px;
}

.flex_col2 {
  display: flex;
  flex-direction: column;
  gap: 45px 0;
  margin: 0 7.19% 0 auto;
  width: 77.5%;
}

.flex_row3 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
}

.image9 {
  margin: 0 0 37px;
  width: 729px;
  min-width: 0;
  border-radius: 20px;
}

.flex_col3 {
  display: flex;
  flex-direction: column;
  gap: 38px 0;
  margin: 10px 0 0;
  width: 710px;
  min-width: 0;
}

.content_box3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(244 243 243);
  border-radius: 20px;
}

.flex_col4 {
  display: flex;
  flex-direction: column;
  gap: 84px 0;
  margin: 30px auto 9px;
  width: 90.99%;
}

.flex_col5 {
  display: flex;
  flex-direction: column;
  width: 279px;
}

.big_title {
  font: 400 36px/1.22 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
  letter-spacing: -0.2px;
}

.text1 {
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
  letter-spacing: -0.4px;
}

.flex_col6 {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
  margin: 38px 0 0;
  width: 193px;
}

.big_title1 {
  font: 400 36px/1.22 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
}

.flex_row4 {
  display: flex;
  gap: 0 11px;
}

.color6 {
  width: 40px;
  min-width: 0;
  min-height: 23px;
  background-color: rgb(217 217 217);
}

.flex_col7 {
  display: flex;
  flex-direction: column;
  gap: 2px 0;
  margin: 23px 0 0;
  width: 136px;
}

.big_title2 {
  margin: 0 40px 0 0;
  font: 400 36px/1.22 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
}

.flex_row5 {
  display: flex;
  gap: 0 8px;
}

.color7 {
  width: 40px;
  min-width: 0;
  min-height: 23px;
  background-color: rgb(0 0 0);
}

.color8 {
  width: 40px;
  min-width: 0;
  min-height: 23px;
  background-color: rgb(255 255 255);
}

.color9 {
  width: 40px;
  min-width: 0;
  min-height: 23px;
  background-color: rgb(200 198 198);
}

.flex_row6 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 0 0 0 33px;
}

.big_title3 {
  margin: 2px 0 8px;
  min-width: 0;
  font: 400 36px/1.22 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
}

.btn {
  display: flex;
  justify-content: center;
  margin: 3px 0 0;
  min-width: 307px;
  font: 400 24px/1.2 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
  text-align: center;
  background-color: rgb(217 217 217);
  border-radius: 20px;
  padding: 11px 8px;
}

.image10 {
  margin: 0 0 4px;
  width: 50px;
  min-width: 0;
}

.flex_col8 {
  display: flex;
  flex-direction: column;
  width: 285px;
}

.flex_row7 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 14px 0 0;
  width: 192px;
}

.text11 {
  min-width: 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
}

.text2 {
  min-width: 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
}

.flex_row8 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 14px 0 0;
  width: 175px;
}

.text12 {
  z-index: 1;
  min-width: 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
}

.flex_row9 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 14px 0 0;
  width: 72.63%;
}

.flex_row10 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 14px 0 0;
  width: 182px;
}

.flex_row11 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 13px 30px 0 0;
}

.text13 {
  z-index: 1;
  margin: 1px 0 0;
  min-width: 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
}

.text21 {
  margin: 0 0 1px;
  min-width: 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
}

.flex_col9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px 0;
  width: 85.89%;
}

.flex_row12 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 100%;
}

.flex_col10 {
  display: flex;
  flex-direction: column;
  width: 291px;
  min-width: 0;
}

.image12 {
  z-index: 2;
  margin: 0 0 0 5px;
  width: calc(100% - 5px);
}

.text14 {
  margin: 17px 5px 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
}

.big_title4 {
  margin: 26px 0 0;
  font: 400 36px/1.22 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
}

.flex_col11 {
  display: flex;
  flex-direction: column;
  width: 286px;
  min-width: 0;
}

.image121 {
  z-index: 2;
  width: 100%;
}

.text15 {
  margin: 17px 0 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
}

.text16 {
  margin: 17px 3px 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
}

.big_title5 {
  margin: 26px 3px 0;
  font: 400 36px/1.22 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
}

.flex_col12 {
  display: flex;
  flex-direction: column;
  margin: 0 0 1px;
  width: 286px;
  min-width: 0;
}

.big_title6 {
  margin: 25px 0 0;
  font: 400 36px/1.22 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
}

.flex_col13 {
  display: flex;
  flex-direction: column;
  gap: 18px 0;
}

.flex_col14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px 0;
}

.line {
  width: 100%;
  height: 1px;
}

.flex_row13 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 81.98%;
}

.flex_col15 {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 12px 0;
  width: 100px;
  min-width: 0;
}

.subtitle11 {
  font: 400 20px/1.2 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
}

.flex_col16 {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  margin: 0 15px 0 0;
}

.text17 {
  margin: 0 35px 0 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
}

.text18 {
  margin: 0 19px 0 0;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
}

.text19 {
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
}

.flex_col17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 12px;
  width: 194px;
  min-width: 0;
}

.grid {
  display: grid;
  align-content: start;
  gap: 23px 74px;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.item {
  grid-row: span 1;
  grid-column: span 1;
  width: 60px;
}

.flex_col18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px 0 20px;
  width: 291px;
  min-width: 0;
}

.content_box4 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 14px 0 0;
  width: 100%;
  background-color: rgb(255 255 255);
  border-radius: 7px;
  outline: 1px solid rgb(102 102 102);
  outline-offset: -1px;
}

.subtitle2 {
  margin: 7px 0 8px 6px;
  width: 74.91%;
  font: 400 20px/1.2 Inter, Helvetica, Arial, serif;
  color: rgb(102 102 102);
}

.btn1 {
  display: flex;
  justify-content: center;
  margin: 9px auto 0;
  width: 106px;
  max-width: 100%;
  font: 400 16px/1.18 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
  background-color: rgb(0 0 0);
  border-radius: 2px;
  padding: 4.5px 14px;
  outline: 1px solid rgb(102 102 102);
  outline-offset: -1px;
}

.color11 {
  min-height: 74px;
  background-color: rgb(53 53 53);
}
.productInfo{
  color: black;
  text-decoration:none;
}